body {
       text-align:center;
       color:#000022;
       background-color:#cccccc;
       /*background-color:#cceeff;*/
       line-height:150%;
       margin: 2.5em 20%;
}
.bod {
       border-radius: 15px;
       text-align:justify;
       font-family:Hoefler Text,Times;
       background-color:#ffffff;
       padding:2em;
}

h1 {
       font-family:Helvetica Neue,Helvetica,Arial;
       text-align:center;
       margin-top:1em;
       margin-bottom:1em;
}

h2 {
       font-family:Futura Condensed Medium; Cursive;;
}

h3 {
       font-family:Helvetica Neue,Helvetica,Arial;
       color:#0088aa;
       font-size:x-large;
}

h4 {
       font-family:Helvetica Neue,Helvetica,Arial;
       text-align:center;
}

dd {
       margin-left:3em;
}

.sc {
       font-variant:small-caps;
}

.header {
       margin-left:50%; margin-bottom:3em;
}

.highlight {
       color:#0088aa;
}

p+p {
       text-indent:2em;
}

p {
       margin:0;
       clear:left;
}

a {
       color:#0088aa;
}

footer {
       font-family: cursive;
       text-align: center;
}

footer:after {
       content: "\2761"; /* Here comes the ivy leaf ... actually pilcrow */
       font-size: 150%; /* Makes the symbol larger than the normal text */
       padding-left: 10px; /* Symbol won't clash with the last letter of the text */
       position: relative; /* This is just an homage to Albert Einstein */
       display: block; /* Gives us a new line to work with */
       text-align: center; /* Horizontal position is set to the center */
       top: .5em; /* Vertical distance from the last line of text */
       margin-bottom: .5em; /* Extra space at the bottom */
}
