@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

body {
       text-align:center;
       color:#000022;
       background-color:#cccccc;
       line-height:150%;
       margin: 2.5em 20%;
}
.bod {
       border-radius: 15px;
       text-align:left;
       font-family:Georgia,Hoefler Text,Times;
       background-color:#ffffff;
       padding:2em;
}

h1 {
       font-family: 'Open Sans', Helvetica Neue, Arial, sans-serif;
       text-align:center;
       margin-top:1em;
       margin-bottom:1em;
       font-weight: 700;
}

h2 {
       font-family: 'Open Sans Condensed', Helvetica Neue, Arial, sans-serif;
       font-weight: 700;
}

h3 {
       font-family:Helvetica Neue,Helvetica,Arial;
       color:#0088aa;
       font-size:x-large;
}

h4 {
       font-family:Helvetica Neue,Helvetica,Arial;
       text-align:center;
}

dd {
       margin-left:3em;
}

.sc {
       font-variant:small-caps;
}

.header {
       margin-left:50%; margin-bottom:3em;
}

.highlight {
       color:#0088aa;
}

p+p {
       text-indent:2em;
}

p {
       margin:0;
       clear:left;
}

ol.strunk{
	list-style-type: none;
}

.strunk li:nth-of-type(1):before{
	content: "1. Form the possessive singular of nouns with 's. ";
}

.strunk li:nth-of-type(2):before{
	content: "2. In a series of three or more terms with a single conjunction, use a comma after each term except the last. ";
}

.strunk li:nth-of-type(3):before{
	content: "3. Enclose parenthetic expressions between commas. ";
}

.strunk li:nth-of-type(4):before{
	content: "4. Place a comma before and or but introducing an independent clause. ";
}

.strunk li:nth-of-type(5):before{
	content: "5. Do not join independent clauses by a comma. ";
}

.strunk li:nth-of-type(6):before{
	content: "6. Do not break sentences in two. ";
}

.strunk li:nth-of-type(7):before{
	content: "7. A participial phrase at the beginning of a sentence must refer to the grammatical subject. ";
}

.strunk li:nth-of-type(8):before{
	content: "8. Divide words at line-ends, in accordance with their formation and pronunciation. ";
}

li:nth-of-type(9):before{
	content: "9. Make the paragraph the unit of composition: one paragraph to each topic. ";
}

li:nth-of-type(10):before{
	content: "10. As a rule, begin each paragraph with a topic sentence; end it in conformity with the beginning. ";
}

.strunk li:nth-of-type(11):before{
	content: "11. Use the active voice. ";
}

.strunk li:nth-of-type(12):before{
	content: "12. Put statements in positive form. ";
}

.strunk li:nth-of-type(13):before{
	content: "13. Omit needless words. ";
}

.strunk li:nth-of-type(14):before{
	content: "14. Avoid a succession of loose sentences. ";
}

.strunk li:nth-of-type(15):before{
	content: "15. Express co-ordinate ideas in similar form. ";
}

.strunk li:nth-of-type(16):before{
	content: "16. Keep related words together. ";
}

.strunk li:nth-of-type(17):before{
	content: "17. In summaries, keep to one tense. ";
}

.strunk li:nth-of-type(18):before{
	content: "18. Place the emphatic words of a sentence at the end. ";
}

a {
       color:#0088aa;
}

footer {
       font-family: 'Open Sans Condensed', Helvetica Neue, Arial, sans-serif;
       font-weight: 300;
       text-align: center;
       margin-top: .5em;
}

footer:after {
       content: "\2761"; /* Here comes the ivy leaf ... actually pilcrow */
       font-size: 150%; /* Makes the symbol larger than the normal text */
       padding-left: 10px; /* Symbol won't clash with the last letter of the text */
       position: relative; /* This is just an homage to Albert Einstein */
       display: block; /* Gives us a new line to work with */
       text-align: center; /* Horizontal position is set to the center */
       top: .5em; /* Vertical distance from the last line of text */
       margin-bottom: .5em; /* Extra space at the bottom */
}
